.footer {
    padding: 10px;
    background-color: #0095ff;
    color: white;
    margin-bottom: 0%;
    display:block;
}
.topnav a {
    background-color: #0095ff;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav {
    display: flex;
    flex-direction: column;
}